<marquee width="100%" direction="right" height="50px" scrollamount="12">
    WELCOME TO MyKart!
    </marquee>
    <button type="submit" class="btn btn-danger" routerLink="/showall">Show Products</button>&nbsp;&nbsp;
       <button type="submit" class="btn btn-danger" routerLink="/login">Login</button> &nbsp;&nbsp;
       <button type="submit" class="btn btn-danger" routerLink="/signup">SignUp</button>
<br>
 

<div style="height: 100%;width: 100%;border-radius: 0.15rem;">
    <diV  class="Large-Flex" >
        
        <img src="assets/w2.jpeg" [routerLink]="['prod',9]"> 
        <a>kurti</a>
        <img src="assets/e2.jpg"> 
        
      <br>
    </diV>
    <div class="small-Flex">
        <div class="small" ><img src="assets/Mobile/IOS/i8.jpeg" [routerLink]="['filter/Mobile']"></div>
        <div class="small"><img src="assets/Electronics/Fridge/f9.jpeg" [routerLink]="['/allProducts/Appliances']"></div>
        <div class="small"><img src="assets/Electronics/Laptop/l10.jpeg" [routerLink]="['/allProducts/Appliances']"></div>
    </div>
</div>
